body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #18d26e;
    text-decoration: none;
}

a:hover {
    color: #35e888;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

hr{
  border-style: none;
  justify-content: center;
  align-items: center;
  border-top-style: dotted;
  border-color: #18d26e;
  border-width: 10px;
  width: 5%;
}

/* header */

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
  }

  #header * {
    transition: ease-in-out 0.3s;
  }

  #header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  #header h1 a,
  #header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
  }

  #header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
  }

  #header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
  }

  #header img {
    padding: 0;
    margin: 0;
  }
.pac-man{
  width: 100%;
  overflow: hidden;
}
  /* button */
  .button-head{
    padding-left: 7%;
    padding-top: 60px;
    padding-bottom: 0;
    overflow: hidden;
  }
  .button-head a
{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #18d26e;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    border-radius: 70px;
}

.button-head a:before,
.button-head a:after,
.button-head span:before,
.button-head span:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #18d26e;
    transition: 4s;
    mix-blend-mode: hue;
}

.button-head a:before
{
    top: -2px;
    left: -2px
}
.button-head a:after
{
    top: -2px;
    right: -2px;
}
.button-head span:before
{
    bottom: -2px;
    left: -2px
}
.button-head span:after
{
    bottom: -2px;
    right: -2px
}

.button-head a:hover:before,
.button-head a:hover:after,
.button-head a:hover span:before,
.button-head a:hover span:after
{
    width: calc( 180px/2 );
    height: calc( 50px/2 )
}

/* button up */

  #header .social-links {
    margin-top: 40px;
    display: flex;
  }

  #header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.20);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #header .social-links a:hover {
    background: #18d26e;
  }

  @media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }

    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }

    #header .social-links {
      margin-top: 15px;
    }

    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  /* animation */
  .dynamic-txt{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.dynamic-txt span{
    position: relative;
}

.dynamic-txt span::before{
    content: "Programmer";
    color: #18d26e;
    animation: words 20s infinite;
}

.dynamic-txt span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: black;
    border-left: 2px solid #18d26e;
    right: -8px;
    animation: typing 25s steps(14) infinite;
}

@keyframes words {
    0%,25%{
        content: "Programmer...";
    }
    26%,50%{
        content: "Gamer...";
    }
    51%,75%{
        content: "Developer...";
    }
    76%,100%{
        content: "Cosplayer...";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/* navbar */

.navbar {
    padding: 0;
    margin-top: 35px;
    position: sticky !important;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }
  .navbar li+li {
    margin-left: 30px;
  }



  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }


  /* section */

section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

.section-title h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 120;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }

  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }

  .section-title p {
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
.section-title-skill{
  padding: 30px;
  display: flex;

}
  /* about */

  .about-me .content ul {
    list-style: none;
    padding: 0;
  }
  .about u{
    color: #4ceb95;
  }

  .about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #18d26e;
  }


.img{
  height: 60%;
}

   /* skills */

.body-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 0 10% 50px;
}



.container-1 {
    position: relative;
    /* width: 500px; */
}


.container-1 h2 {
    color: #fff;
}


.container-1 .skills {
  position: relative;
  display: flex;
  margin: 25px 0;
  padding: 24px 10px 18px;
  /* background: linear-gradient(#616161 0%, #333, #222); */
  border-radius: 8px;
  overflow: hidden;
  /* border: 2px solid #000; */
  transition: 0.5s;
}

/* .container-1 .skills::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* background: rgba(255, 255, 255, .1); */
    z-index: 10;
} */

.container-1 .skills .name {
    position: relative;
    width: 100%;
    text-align: right;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 8px;
}

.container-1 .skills .value {
    position: relative;
    width: 40px;
    text-align: left;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
}

.container-1 .skills .percent {
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.container-1 .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 70%;
    height: 100%; */
    /* border-radius: 10px; */
    background: #18d26e;
    /* box-shadow: inset 0 0 2px #000; */
    animation: animate 4s ease-in-out forwards;
}

.container-1:hover .skills {
    opacity: 0.05;
}

.container-1 .skills:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes animate {
    from {
        width: 0;
    }
}



  /* resume */

  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
  }

  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }


  .resume .resume-item ul li {
    padding-bottom: 10px;
  }


/* portfolio */
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }

  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
  }

  .portfolio .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  .portfolio-title h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }

  .portfolio{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }
  .portfolio .portfolio-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e;
  }
  .portfolio .portfolio-item ul {
    padding-left: 20px;
    padding-top: 50px;
  }

  .portfolio .portfolio-item ul li {
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
.portfolio-item ul li span{
  color: #18d26e;
}
.portfolio-item ul li figcaption{
  font-size: 0.2rem;
  text-align: center;
}
  .portfolio .portfolio-item i{
    color:  #18d26e;
    padding: 50px;
  }
  .acm{
    height: 20%;
    weight: 30%;
  }

  .portfolio p{
    margin: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  .img-fluid_cos img{
    height: auto;
    width: 60%;
    justify-content: center;
    padding: 20px;
    align-items: center;
  }
  /*  */

  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
  }

  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #18d26e;
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
  }

  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }

  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }

  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #63eda3;
  }

  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }


  /* contact */

  .contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #18d26e;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #18d26e;
}

.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #15bb62;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);visual
  }

  100% {
    transform: rotate(360deg);
  }
}

/* footer */

#footer {
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
    color: white;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
  color: white;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.20);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #18d26e;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
